html,
body {
		height: 100%;
}

body {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
}

.title {
		font-size: 30px;
		color: #79aa89;
}

.textarea,
.keyboard {
		width: 700px;
}

.textarea {
		margin: 10px 0;
		font-size: 2rem;
}

.keyboard {
		margin: 0 auto;
		padding: 5px;
		background: #888888;
		border: 3px solid #222222;
		border-radius: 5px;
}

.keyboard__row {
		display: flex;
}

.keyboard__row:not(:last-child) {
		margin-bottom: 8px;
}

.hidden {
		display: none;
}

.button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: fit-content;
		min-width: 40px;
		height: 40px;
		font-weight: 500;
		font-size: 1rem;
		line-height: 40px;
		text-align: center;
		color: #ffffff;
		background: #444444;
		border-radius: 3px;
		cursor: pointer;
		transition: border-radius 0.3s, background-color 0.3s;
}

.button:not(:first-child) {
		margin-left: 6px;
}

.Enter,
.ArrowUp,
.ArrowLeft,
.ArrowDown,
.ArrowRight,
.Backspace,
.ShiftLeft,
.ShiftRight,
.Delete,
.Tab,
.MetaLeft,
.MetaRight,
.AltLeft,
.AltRight,
.ControlLeft,
.ControlRight,
.CapsLock {
		background: #222222;
}

.button:hover {
		background: #79aa89;
}

.active,
.button:active {
		background: #2cfd72;
}

.info {
		margin: 10px auto;
		text-align: center;
		font-weight: 600;
}

.Space {
		width: 330px;
}

.ShiftLeft,
.Backspace,
.CapsLock {
		width: 100px;
}

.ShiftRight,
.Enter {
		width: 86px;
}

.Tab {
		width: 50px;
}
